@{
  Layout = "_Layout";
}

<div class="container">
  <h3>WordCounter Result</h3>
  <p>Specified Word: "@Model.GetSpecifiedWord()"</p>
  <br>
  <p>Text: "@Model.GetText()"</p>
  <br>
  <p>Analisys: "@Model.GetSpecifiedWord()" was found @Model.GetCountResult() times.</p>
</div>
