<div class="navbar">
    <div class="container">
      <ul class="nav navbar-nav">
        <li class="active"><a href="/">Home</a></li>
        <li><a href="/wordcounter/new">WordCounter</a></li>
      </ul>
    </div>
</div>
