<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="#">ChanTool</a>

  <div class="collapse navbar-collapse">
    <ul class="navbar-nav">
      <li class="nav-item active">
        <a class="nav-link" href="/">Home</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/wordcounters/new">WordCounter</a>
      </li>
      <li class="nav-item">
        <a class="nav-link disabled" href="#">Leap Year</a>
      </li>
      <li class="nav-item">
        <a class="nav-link disabled"  href="#">Scrabble Score</a>
      </li>
      <li class="nav-item">
        <a class="nav-link disabled" href="#">Palindrome</a>
      </li>
    </ul>
  </div>
</nav>
