* {
  font-family: 'Roboto', sans-serif;
  text-align:center;
}

.navbar {
  background-color: #C70039;
  color: white;
}

.jumbotron {
  text-align: center;
  box-shadow: 1px 1px 1px gray;
  color: white;
  background-color: #5EC5CF;
}

.container {
  margin-bottom: 5%;
  margin-top: 5%;
}

form.delete {
  background-color: white;
}

.footer-custom {
  padding: 3%;
  background-color: #c7efcf;
  font-size: 11px;
}

h3 {
  margin-top: 3%;
}

form {
  padding: 3%;
  color: gray;
  background-color: #90DDE4;
}

label {
  margin-top: 5%;
}

button {
  background-color: #3AAEB9;
  margin-bottom: 3%;
  margin-top: 3%;
}
